<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/shortUrl.css">
</head>

<body>
    <nav>
        <ul>
            <a href="/">Short Url</a>
            <button class="asdasd" onclick="logOutBtn()">Logout</button>
        </ul>
    </nav>

    <section class="banner">
        <div class="dashboardRow">
            <div class="profileInfo">
                <h2>User</h2>
                <table>
                    <tr>
                        <td>Name: </td>
                        <td>
                            <%= locals.loggedUserInfo.userName %>
                        </td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>
                            <%= locals.loggedUserInfo.email %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="historyInfo">
                <h2>History</h2>
                <% if (locals.loggedUserInfo && locals.loggedUserInfo.shortUrls.length > 0) { %>

                    <% loggedUserInfo.shortUrls.forEach(datas=> { %>
                        <table>
                            <tr>
                                <th>Big Url:</th>
                                <td>
                                    <%= datas.bigUrl %>
                                </td>
                            </tr>

                            <tr>
                                <th>Short Url:</th>
                                <td>
                                    <a style="color: #fff;" onmouseover="this.style.color='#000';" onmouseleave="this.style.color='#fff';" href="<%= datas.bigUrl %>" target="_blank">
                                        <%= datas.shortUrl %>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>Time:</th>
                                <td>
                                    <ul>
                                        <% if (!datas.visitHistory.some(item=> item.clicked)) { %>
                                            <li style="list-style: none;">No Visit History Found</li>
                                            <% } else { %>
                                                <% datas.visitHistory.forEach(items=> { %>
                                                    <li style="list-style: none;">
                                                        <%= items.clicked.toLocaleString() %>
                                                    </li>
                                                    <% }) %>
                                                        <% } %>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <% }) %>
                            <% }else{ %>
                                <h2>No History Data Found</h2>
                                <% } %>

            </div>
        </div>
    </section>

    <script>
        function logOutBtn(){
            fetch('http://localhost:8000/logout', { method: "POST" })
                .then(response => {

                    if (response.redirected) {
                        window.location.href = response.url;
                        return;
                    }
                })
        }
    </script>
</body>

</html>